* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Walkway.rar";
}

@font-face {
  font-family: "Walkway.rar";
  src: url(../src/asserts/images/Walkway_Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slider-container {
  width: 600px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 700px) {
  .slider-container {
    width: 355px;
  }
}
@media (max-width: 420px) {
  .slider-container {
    width: 214px;
  }
}

.image-container {
  display: flex;
  align-items: center;
}
.image-container .a-img {
  width: 531px;
}
.image-container .weGot {
  display: none;
}
@media (max-width: 700px) {
  .image-container .a-img {
    width: 300px;
  }
}
@media (max-width: 420px) {
  .image-container .a-img {
    display: none;
  }
}

.weGoYou {
  width: 550px;
  object-fit: contain;
}
@media (max-width: 700px) {
  .weGoYou {
    width: 350px;
  }
}
@media (max-width: 420px) {
  .weGoYou {
    width: 190px;
  }
}
.ourClients {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 700px) {
  .ourClients {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .ourClients {
    width: 100%;
  }
}
.wrapper-two {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 29px;
}
@media (max-width: 700px) {
  .wrapper-two {
    gap: 14px;
  }
}
@media (max-width: 420px) {
  .wrapper-two {
    display: block;
  }
}
.wrapper-two img {
  width: 83px;
  object-fit: contain;
}
@media (max-width: 700px) {
  .wrapper-two img {
    width: 61px;
  }
}
@media (max-width: 420px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}
.content h4 {
  font-size: 25px;
}
@media (max-width: 700px) {
  .content h4 {
    font-size: 20px;
  }
}
.content h5 {
  font-size: 15px;
  margin-top: 19px;
}
@media (max-width: 700px) {
  .content h5 {
    font-size: 12px;
    margin-top: 17px;
  }
}

.image-container .media-img {
  display: none;
}
@media (max-width: 420px) {
  .image-container .media-img {
    display: block;
  }
  .media-img img {
    width: 160px;
  }
}

picture source {
  width: 100%;
  height: auto;
}

picture img {
  width: 100%;
  height: auto;
}
